body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(235, 218, 218);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.header {

}

.header-box {
  
}

.box-img {
  width: 100px;
  height: 100px;
  background-color: white;
  border: none;
  border-radius: 50%;
}